<div class="container">
  <form class="input-field" [formGroup]="addCourseForm" (ngSubmit)="addCourseSubmit(addCourseForm.value)">
      <div class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputName">Enter Course Name</label>
          <input type="email" formControlName="name" class="form-control" id="inputName" placeholder="Course Name">
        </div>
      </div>

      <div class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputName">Enter Course Code</label>
          <input type="email" formControlName="code" class="form-control" id="inputCode" placeholder="Course Code">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputDepartment">Select Department</label>
          <select id="inputDepartment" formControlName="department" class="form-control">
            <option selected>choose...</option>
            <option>Computer Science Engineering</option>
            <option>Electrical Engineering</option>
            <option>Mechanical Engineering</option>
            <option>Law</option>
            <option>Arts and Sciences</option>
          </select>
        </div>
      </div>

      <div class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputName">Enter Course Instructor</label>
          <input type="email" formControlName="instructor" class="form-control" id="inputInstructor" placeholder="Course Instructor">
        </div>
      </div>

      <div class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputName">Choose Course Days</label>
          <div *ngFor="let item of checkboxes; let i = index" formArrayName="days" class="row">
            <div class="col-lg-4 col-sm-4 col-xs-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" [formControlName]="i" class="colored-success">
                        <span class="text">{{item.name}}</span>
                    </label>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="addCourseForm.controls['days'].value[0]" class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputName">Monday Starting Time</label>
          <input type="text" [ngxTimepicker]="monday_st" formControlName="monday_start_time" class="form-control" placeholder="Monday Starting Time">
          <ngx-material-timepicker #monday_st></ngx-material-timepicker>
        </div>
      </div>

      <div *ngIf="addCourseForm.controls['days'].value[0]" class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputName">Monday Ending Time</label>
          <input type="text" [ngxTimepicker]="monday_et" formControlName="monday_end_time" class="form-control" placeholder="Monday Ending Time">
          <ngx-material-timepicker #monday_et></ngx-material-timepicker>
        </div>
      </div>

      <div *ngIf="addCourseForm.controls['days'].value[1]" class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputName">Tuesday Starting Time</label>
          <input type="email" [ngxTimepicker]="tuesday_st" formControlName="tuesday_start_time" class="form-control" placeholder="Tuesday Starting Time">
          <ngx-material-timepicker #tuesday_st></ngx-material-timepicker>
        </div>
      </div>

      <div *ngIf="addCourseForm.controls['days'].value[1]" class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputName">Tuesday Ending Time</label>
          <input type="email" [ngxTimepicker]="tuesday_et" formControlName="tuesday_end_time" class="form-control" placeholder="Tuesday Ending Time">
          <ngx-material-timepicker #tuesday_et></ngx-material-timepicker>
        </div>
      </div>

      <div *ngIf="addCourseForm.controls['days'].value[2]" class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputName">Wednesday Starting Time</label>
          <input type="email" [ngxTimepicker]="wednesday_st" formControlName="wednesday_start_time" class="form-control" placeholder="Wednesday Starting Time">
          <ngx-material-timepicker #wednesday_st></ngx-material-timepicker>
        </div>
      </div>

      <div *ngIf="addCourseForm.controls['days'].value[2]" class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputName">Wednesday Ending Time</label>
          <input type="email" [ngxTimepicker]="wednesday_et" formControlName="wednesday_end_time" class="form-control" placeholder="Wednesday Ending Time">
          <ngx-material-timepicker #wednesday_et></ngx-material-timepicker>
        </div>
      </div>

      <div *ngIf="addCourseForm.controls['days'].value[3]" class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputName">Thursday Starting Time</label>
          <input type="email" [ngxTimepicker]="thursday_st" formControlName="thursday_start_time" class="form-control" placeholder="Thursday Starting Time">
          <ngx-material-timepicker #thursday_st></ngx-material-timepicker>
        </div>
      </div>

      <div *ngIf="addCourseForm.controls['days'].value[3]" class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputName">Thursday Ending Time</label>
          <input type="email" [ngxTimepicker]="thursday_et" formControlName="thursday_end_time" class="form-control" placeholder="Thursday Ending Time">
          <ngx-material-timepicker #thursday_et></ngx-material-timepicker>
        </div>
      </div>

      <div *ngIf="addCourseForm.controls['days'].value[4]" class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputName">Friday Starting Time</label>
          <input type="email" [ngxTimepicker]="friday_st" formControlName="friday_start_time" class="form-control" placeholder="Friday Starting Time">
          <ngx-material-timepicker #friday_st></ngx-material-timepicker>
        </div>
      </div>

      <div *ngIf="addCourseForm.controls['days'].value[4]" class="form-row" >
        <div class="form-group col-md-6">
          <label for="inputName">Friday Ending Time</label>
          <input type="email" [ngxTimepicker]="friday_et" formControlName="friday_end_time" class="form-control" id="inputEndingTime" placeholder="Friday Ending Time">
          <ngx-material-timepicker #friday_et></ngx-material-timepicker>
        </div>
      </div>

      <button type="submit" id="create-course" (click)="addCourseSubmit(addCourseForm.value)" routerLink="/courses" class="btn btn-primary">Create Course</button>
  </form>
</div>

